.detail {
  .head {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    .container {
      margin: var(--barTop) 24rpx 15rpx;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--barHeight);
        .back {
          padding: 15rpx;
          width: var(--barHeight);
          height: var(--barHeight);
          image {
            width: 100%;  
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .detail-content {
    padding-bottom: 100rpx;
    .swiper {
      position: relative;
      swiper {
        height: 700rpx;
        swiper-item {
          width: 100%;
          height: 100%;
          image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .wx-swiper-dots.wx-swiper-dots-horizontal {
          position: absolute;
          bottom: 50rpx;
        }
        .wx-swiper-dots {
          .wx-swiper-dot {
            width: 30rpx;
            border-radius: 9999rpx;
          }
        }
      }
    }
    .content {
      background-color: #ffffff;
      .container {
        padding: 24rpx 24rpx 0;
        .price-box {
          color: red;
          font-size: 40rpx;
          .price {
            font-size: 60rpx;
            font-weight: 900;
          }
          .unit {
            font-size: 30rpx;
            color: #000000;
          }
        }
        .title-box {
          font-size: 35rpx;
          border-bottom: 1px solid #f7f7f7;
          padding-bottom: 20rpx;
        }
        .specs, .express, .rights {
          border-bottom: 1px solid #f7f7f7;
          padding: 15rpx 0;
          font-size: 30rpx;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text {
            flex: 1;
            color: #7e7e7e;
          }
          image {
            width: 32rpx;
            height: 32rpx;
            object-fit: contain;
          }
        } 
      }
    }
    .info {
      margin-top: 20rpx;
      background-color: #ffffff;
      .container {
        padding: 24rpx;
      }
    }
  }
  .btns {
    width: 100%;
    height: 120rpx;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    position: fixed;
    bottom: 0;
    padding: 0 24rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .collection, .buy-now {
      padding: 20rpx 35rpx;
      border-radius: 16rpx;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 30rpx;
    }
    .collection {
      background-color: #FF9900;
    }
    .buy-now {
      background-color: #00A3FF;
    }
  }
}