.search {
  .head {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(20rpx) saturate(180%);
    border-bottom: 1px solid #dfdfdf;
    .container {
      margin: var(--barTop) 24rpx 15rpx;
      .logo {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--barHeight);
        margin-bottom: 20rpx;
        text {
          transform: translate(50%, 0);
        }
      }
      .search {
        flex: 1;
        .input {
          height: var(--barHeight);
          border-radius: 9999rpx;
          background-color: rgba(255, 255, 255, .5);
          border: 1px solid #dfdfdf;
          padding: 0 24rpx;
          input {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .goods {
    margin-top: var(--marginTop);
  }
}